{% extends "base.html" %}


{% block title %}
Panneau administrateur
{% endblock %}
{% block content%}
<table id="users" class="table">
    <thead class="thead-dark">
        <tr>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Email</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    {% for i in range(0, len) %}
    <tr id="user-{{users[i].id}}">
        <td class="firstname">{{users[i]["first_name"]}}</td>
        <td class="lastname">{{users[i]["last_name"]}}</td>
        <td class="email">{{users[i]["email"]}}</td>
        <td>
            <button onclick="modify( '{{ users[i].id }}' );"type="button" class="btn btn-outline-primary">
                <svg class="icon">
                    <use xlink:href="{{url_for('static', filename='icons.svg')}}#icon-pencil"></use>
                </svg>
            Modifier
            </button>
        </td>
        <td>
            <button onclick="destroy( '{{ users[i].id }}'  );"type="button" class="btn btn-outline-danger">
                <svg class="icon">
                    <use xlink:href="{{url_for('static', filename='icons.svg')}}#icon-cross"></use>
                </svg>
            Supprimer
            </button>
        </td>
        
    </tr>
    {% endfor %}
</table>
<div class="modal" tabindex="-1" role="dialog" id="edit-modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modifier l'utilisateur</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="{{url_for('panel.admin')}}" method="post">
        <div class="modal-body">
            <input type="hidden" name="user.id" id="user-id"value="">
            <div class="form-group ">
              <label for="email">Adresse E-mail</label>
              <input
                type="email"
                name="user.email"
                id="email"
                placeholder="mail@mail.ml"
                required
              />
            </div>
            <div class="form-group ">
              <label for="firstname">Prénom</label>
              <input type="text" name="user.firstname" id="firstname" required>
            </div>
            <div class="form-group ">
              <label for="lastname">Nom</label>
              <input type="text" name="user.lastname" id="lastname" required>
            </div>
          </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary"type="submit">Envoyer</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        </div>
      </form>
      </div>
    </div>
  </div>
  {% endblock %}