html, body {

}
.card {
    margin: 30px 0;
}
.card input, .modal input
{
    width: 100%;
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }