{% extends "base.html" %}

{% block title%}
Connexion
{% endblock%}
{% block header%}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages%}
<div class="alert alert-{{category}}" role="alert">
    {{message}}
</div>
{% endfor %}
{% endif %}
{%endwith%} 
{% endblock%}
{% for message in form.email.errors %}
<div class="alert alert-danger" role="alert">
  {{ message }}</div>
{% endfor %}
{% for message in form.password.errors %}
<div class="alert alert-danger" role="alert">
  {{ message }}</div>
{% endfor %}

{% block content %}
<div class="col-md-4 offset-md-4">
    <div class="card bg-light">
      <form action="{{url_for('auth.login')}}" method="post">
        <div class="card-body">
          <h5 class="card-title">Connection</h5>
            <div class="form-group ">
              {{ form.email.label }}
              {{ form.email(class_="form-control") }}
            </div>
            <div class="form-group">
              {{ form.password.label }}
              {{ form.password }}
            </div>
            <a href="" onclick="pwModal()">Mot de passe oublié ? </a>
            <a href = "{{url_for('auth.register') }}">S'enregistrer</a>
          <div class="row justify-content-center">
            {{ form.submit(class_="btn btn-primary") }}
          </div>
        </div>
      </form>
    </div>
  </div>

{% endblock %}
