{% extends "base.html"%} 
{% block title%} 
Inscription 
{% endblock%} 
{% block header%}
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages%}
<div class="alert alert-{{category}}" role="alert">
    {{message}}
</div>
      {% endfor %}
    {% endif %}
  {%endwith%}
{% for message in form.email.errors %}
<div class="alert alert-danger" role="alert">
  {{ message }}</div>
{% endfor %}
{% for message in form.password.errors %}
<div class="alert alert-danger" role="alert">
  {{ message }}</div>
{% endfor %}

{% for message in form.password.errors %}
<div class="alert alert-danger" role="alert">{{ message }}</div>
{% endfor %}
{% endblock%} 
{% block content %}
<div class="col-md-4 offset-md-4">
  <div class="card bg-light">
    <form action="{{url_for('auth.register')}}" method="post">
      <div class="card-body">
        {{ form.hidden_tag() }}
        <h5 class="card-title">Formulaire d'inscription</h5>   
          <div class="form-group ">
            {{ form.email.label }}
            {{ form.email(class_="form-control") }}
          <div class="form-group">
            {{ form.password.label }}
            {{ form.password }}
          </div>
          <div class="form-group ">
            {{ form.password_conf.label }}
            {{ form.password_conf(class_="form-control") }}
          </div>
        <div class="row justify-content-center">
          {{ form.submit(class_="btn btn-primary") }}
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
